<form [formGroup]="createPasswordForm" ngClass="create-password-form">
  <h2>
    {{'Placeholder enter your password' | translate}}
  </h2>
  <mat-form-field>
    <input
      matInput
      formControlName="password"
      AUTOCOMPLETE="off"
      placeholder="{{'Placeholder new password' | translate}}"
      type="password"
    >
    <mat-error
      *ngIf="createPasswordForm.controls.password.errors?.required && (createPasswordForm.controls.password.dirty || createPasswordForm.controls.password.touched)">
      {{'Error field can not be empty' | translate}}
    </mat-error>
    <mat-error
      *ngIf="createPasswordForm.controls.password.errors?.incorrectPassword && (createPasswordForm.controls.password.dirty || createPasswordForm.controls.password.touched)"
    >
      {{'Error password value' | translate}}
    </mat-error>
  </mat-form-field>
  <button ngClass="save-password-button" (click)="savePasswordHandler()"> {{'Save password button' | translate}}</button>
</form>
<app-loading-spinner [isShowSpinner]="isLoading"></app-loading-spinner>




