@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

main {
  display: flex;
  flex-wrap: wrap;
}

.log-in-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 340px;
  margin: 80px auto;
  padding: 75px 5px 20px;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0 1px 1px 0, rgba(0,0,0,0.09804) 0 1px 2px 0;
  font-family: 'Roboto', sans-serif;
}

mat-form-field {
  width: 270px;
  margin-top: 15px;
}

.fa-angular {
  font-size: 80px;
  color: #919191;
  position: absolute;
  top: 0;
}

.log-in-button {
  color: white;
  font-family: 'Noto Sans', sans-serif;
  background: #4485f5;
  height: 48px;
  margin-top: 20px;
  width: 50%;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  transition: all 0.15s ease;
}

.log-in-button:active {
  background: #3355ab;
}

.forgot-password-container {
  width: 100%;
  margin-top: 24px;
  text-align: center;
}

.forgot-password-link {
  text-decoration: none;
  color: #3355ab;
}

.forgot-password-link:active {
  color: #243870;
}

.forgot-password-link:hover {
  text-decoration: underline;
}



