<form [formGroup]="restoreForm" ngClass="registration-form">
  <h2>
    {{'Enter password recovery data title' | translate}}
  </h2>
  <mat-form-field>
    <input
      matInput
      formControlName="username"
      AUTOCOMPLETE="off"
      placeholder="{{'Placeholder enter your username' | translate}}"
    >
    <mat-error
      *ngIf="restoreForm.controls.username.errors?.required && (restoreForm.controls.username.dirty || restoreForm.controls.username.touched)">
      {{'Error field can not be empty' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      formControlName="dateOfBirth"
      AUTOCOMPLETE="off"
      placeholder="{{'Enter your birthday placeholder' | translate}}"
    >
    <mat-error
      *ngIf="restoreForm.controls.dateOfBirth.errors?.required && (restoreForm.controls.dateOfBirth.dirty || restoreForm.controls.dateOfBirth.touched)">
      {{'Error field can not be empty' | translate}}
    </mat-error>
    <mat-error *ngIf="restoreForm.controls.dateOfBirth.errors?.invalidDateValue">
      {{'Invalid date value error' | translate}}
    </mat-error>
    <mat-error *ngIf="restoreForm.controls.dateOfBirth.errors?.futureDate">
      {{'Future date error' | translate}}
    </mat-error>
  </mat-form-field>
  <button ngClass="log-in-button" (click)="RestorePasswordHandler()">{{'Restore password button' | translate}}</button>
  <div ngClass="go-back-link-container">
    <a ngClass="go-back-link" routerLink="/">{{'Go back link' | translate}}</a>
  </div>
</form>
<app-loading-spinner [isShowSpinner]="isLoading"></app-loading-spinner>




